@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --accent: 22 81% 68%;
    --accent-foreground: 22 81% 68%;

    --secondary: 43 99% 73%;
    --secondary-foreground: 32 29% 42%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 0 0% 68%;

    --brown: 42 21% 53%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  @font-face {
    font-family: Georgia;
    src: url("../../assets/fonts/georgia.ttf");
  }
  @font-face {
    font-family: Lucida Handwriting Std Rg;
    src: url("../../assets/fonts/lucida-handwriting/LucidaHandwritingStdRg.TTF");
  }
  @font-face {
    font-family: Lucida Handwriting Std Light;
    src: url("../../assets/fonts/lucida-handwriting/LucidaHandwritingStdLight.TTF");
  }
  @font-face {
    font-family: Lucida Handwriting Std;
    src: url("../../assets/fonts/lucida-handwriting/LucidaHandwritingStdBold.TTF");
  }
  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJnecmNE.woff2)
      format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
      U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .dotted {
    background-image: linear-gradient(
      to right,
      hsl(22 81% 68%) 33%,
      rgba(255, 255, 255, 0) 0%
    );
    background-position: bottom;
    background-size: 20px;
    background-repeat: repeat-x;
  }
  .logo-text {
    -webkit-background-clip: text !important;
    background-clip: border-box;
    -webkit-text-fill-color: transparent;
    background: url("https://s3-alpha-sig.figma.com/img/5c8a/3840/f212b3b84f86c8903786ecc0ec46f75b?Expires=1715558400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=hZf1NJfW3vnk-KY9ynzwgvP6L0yKEJrr1QfM0Gai5XBaPKV7a2i4sfOSJm~tNLllR9KfbO2GRbVp~ZKQFv5Cn9apwjf1l1ZpVUz1MPmUN4bv5v9NlAeHxABUhFXZFCiRuD6PhqS3YU6o6z6iDwBDP7FKv5dBBfEGxyzIq6~zHIAQKReNjt68o5oEr~T0fxuE19MXmaCCUyOa-rjMq6UIRWoO5QJP-TOKIBErUwyn8jtyCvWRgwzG9CwCul9CV7zB5w3yZG8nVKeGmpmxyQ9tgJl8D5TcNoPdeHaGZxUmQ71XPTewvU9z1~zoUY~bOVQ2YPACUVuAstOCKiERnVLdZw__");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .text-shadow {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  }

  .yellow-gradient {
    border-style: solid;
    box-sizing: content-box;
    border-image-slice: 1;
    border-image-source: linear-gradient(180deg, #fed775 0%, #988146 100%);
  }
}
